<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>河北百众机电</title>
    <link href="__PUBLIC__/Home/css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.9.1.min.js"></script>
</head>
<body>

<div class="right_chanpin">
    <div class="tittle"><span>产品展示</span></div>
    <div style="clear:both;"></div>



        <div class="right_con_cp">
            <div>
            <div class="cpjian">
                <p style="font-size:12px; font-weight:bold;">自立袋机型</p>
                <p>此系列专门针对自立袋包装需求而设计，可实现标准自立袋，及加拉链、挂孔、吸嘴和异型等特殊功能。同时还拥有大袋自立袋系列和双出自立袋系列，适合客户大规格、高速需求。</p>
            </div>
            <div style="height:10px; clear:both"></div>
            <div class="chanpi_warp">
                <div class="chanpin_tuone"><img src="__PUBLIC__/Home/image/chanpin.jpg" width="205" height="156"></div>
                <div class="chan_jies">
                    <span>自立袋机型（单出系列）</span>
                    <span>型号：DS-180S</span>
                    <p>DS-180S型是一款水平式全自动自立袋包装机，主要适用于食品、日化、农化等行业，可包装液剂、粉剂、颗粒、悬浮剂等各种物料。袋形是普通自立袋，异型袋，挂孔袋,选用不同形式的下料装置，可以包装不同的产品.........<a href="">查看详细>></a></p>
                </div>
            </div>

           </div>

            <div id="fenye" style="_padding-top:10px;">


                <div class="zhong">
                    <a class="shouy hover">首页</a><a class="sxy" style="width:81px;">&lt; 上一页</a><a class="hover">1</a><a>2</a><a>3</a><a>4</a><a>5</a><a>6</a><a>7</a><a>8</a>
                    <a class="sxy" style="width:81px;" >下一页 ></a><a class="shouy">末页</a>
                </div>


            </div>

        </div>

</div>
</body>
</html>