<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>河北百众机电</title>
    <link href="__PUBLIC__/Home/css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.9.1.min.js"></script>
</head>
<body>
<div class="right_chanpin">
    <div class="tittle"><span>产品展示</span></div>
    <div style="clear:both;"></div>
    <div class="right_con_cp">
            <volist name="data" id="vol">
            <div class="cpjian">
                <p style="font-size:12px; font-weight:bold;">{$vol.deptname}</p>
                <p>{$vol.deptdesc|htmlspecialchars_decode}</p>
            </div>
            <div style="height:10px; clear:both"></div>
            <div class="chanpi_warp">
                <div class="chanpin_tuone"><img src="{$vol.picture}" width="205" height="156"></div>
                <div class="chan_jies">
                    <span>{$vol.name}</span>
                    <span>型号:{$vol.product_id}</span>
                    <p>{$vol.product|msubstr=0,100|htmlspecialchars_decode}<a href="__MODULE__/Goods/content/id/{$vol.id}" target="main">查看详细>></a></p>
                </div>
            </div>
            </volist>

        <div id="fenye" style="_padding-top:10px;">


            <div class="zhong">
                {$show}
            </div>
        </div>
    </div>
</div>

</body>
</html>
